@mixin icon($name) {

	font-family: 'UT_v3';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@if $name == links {
		content: "\61";
	}
	@else if $name == buttons {
        content: "\62";
    }
    @else if $name == external {
        content: "\6e";
    }
    @else if $name == chevron-down {
        content: "\69"; 
    }
    @else if $name == chevron-up {
        content: "\6a";
    }
    @else if $name == close {
        content: "\78";
    }
    @else if $name == search {
        content: "\63";
    }

}